#wrapper{
    margin: 0px auto;
    background-color: black;
}

h1{
    width: 960px;
    margin: 0px auto;
}

h2{
    width: 960px;
    margin: 0px auto;
}

body{
    background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#main_menu{
    font-size: larger;
}

.Charles_Babbage{
    width: 410px;
    height: 600px;
    margin-left: 255px;
}

.Herman_Hollerith{
    width: 410px;
    height: 600px;
    margin-left: 800px;
}

.Alan_Turing{
    width: 410px;
    height: 600px;
    margin-left: 255px;
}

.John_Atanasoff{
    width: 410px;
    height: 600px;
    margin-left: 800px;
}

.ENIAC{
    width: 410px;
    height: 600px;
    float: left;
    margin-left: 255px;
}

.UNIVAC{
    width: 410px;
    height: 600px;
    float: left;
    margin-left: 255px;
}

.B{
    width: 410px;
    height: 1000px;
    float: left;
    margin-left: 255px;
}

.A{
    width: 410px;
    height: 1000px;
    float: left;
    margin-left: 255px;
}

@media all and (min-width:300px) {
}